{% extends 'base.html.twig' %}


{% block body %}
    <h2 style="margin-top: 50px">Modification des infromations du terrain </h2>

    <div class="row">

        <div  style="display: flex;align-items: center;justify-content: center;margin-top: 20px; padding: 10px;">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"> modifier </h5>

                    <!-- General Form Elements -->
                    {{ form_start(form) }}
                    <p>
                        <label for="inputText" class="col-sm-4 col-form-label">numero</label>
                    <div class="col-sm-10">
                        {{ form_widget(form.numero,{'attr':{'class':'form-control'}}) }}
                    </div>
                    </p>
                    <p>
                        <label for="Text" class="col-sm-4 col-form-label">surface</label>
                    <div class="col-sm-10">
                        {{ form_widget(form.surface,{'attr':{'class':'form-control'}}) }}

                    </div>
                    </p>
                    <p>
                        <label for="inputText" class="col-sm-4 col-form-label">lieu</label>
                    <div class="col-sm-10">
                        {{ form_widget(form.lieu,{'attr':{'class':'form-control'}}) }}
                    </div>
                    </p>
                    <p>
                        <label for="inputText" class="col-sm-4 col-form-label">culture</label>
                    <div class="col-sm-10">
                        {{ form_widget(form.culture,{'attr':{'class':'form-control'}}) }}
                    </div>
                    </p>

                    {{ form_end(form) }}

                </div>
            </div>

        </div>

    </div>

    {% endblock %}
