{% extends 'base.html.twig' %}

{% block title %}Participation index{% endblock %}

{% block body %}

    <h1>Participation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Evenement</th>
                <th>Heure</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for participation in participations %}
            <tr>
                <td>{{ participation.id }}</td>
                 <td>{{ participation.evenement }}</td>
                <td>{{ participation.heure ? participation.heure|date('H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_participation_show', {'id': participation.id}) }}">Voir</a>
                    <a href="{{ path('app_participation_edit', {'id': participation.id}) }}">Editer</a>
                     <a href="{{ path('app_participation_delete', {'id': participation.id}) }}">Supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Pas de participant</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_participation_new') }}">Ajouter un participant</a>
{% endblock %}
