{% extends 'base.html.twig' %}

{% block body %}
<div class="container my-2" style="font-family:'Microsoft Tai Le'">

<h1 class="mb-2" style="
      display: flex;
      flex-direction: column;
      align-items: center;
      min-height: 100%;">Produit {{ produit.id }}</h1>
    <div class="card mb-2">
        <div class="card-body">
    <table class="table" style="font-family:'Microsoft Tai Le'">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ produit.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ produit.nom }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ produit.prix }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ produit.description }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ produit.status ? 'disponnible' : 'non_disponnible' }}</td>
            </tr>
            <tr>
                <th>Categorie</th>
                <td>{{ produit.categorie }}</td>
            </tr>
            <tr>
                <th>QR</th>
                <td> <img src="{{ qrcode }}" alt="Qr code"></td>
            </tr>
            <tr>
                <th>Image</th>
                     <td><img src="\images\produits\{{ produit.image }}" width="150px">
                </td>
            </tr>
        </tbody>
    </table>
        </div>
    </div>

    <div class="my-2" style="
      display: flex;
      flex-direction: column;
      align-items: center;
      min-height: 100%;">

    <a href="{{ path('app_produit_edit', {'id': produit.id}) }}" class="btn btn-success" style="margin-bottom: 10px">Modifier</a>
        {{ include('produit/_delete_form.html.twig') }}
        <a href="{{ path('app_produit_index') }}" class="btn btn-secondary" style="margin-top: 10px">Retour</a>
    </div>


{% endblock %}