{% extends 'base.html.twig' %}

{% block title %}Categorie{% endblock %}

{% block body %}
    <h1><title>Categorie show</title></h1>
    <div class="container my-5">
        <h1 class="mb-5">Categorie {{ categorie.id }}</h1>

        <div class="card mb-4">
            <div class="card-body">
                <table class="table">
                    <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ categorie.id }}</td>
                    </tr>
                    <tr>
                        <th>Label</th>
                        <td>{{ categorie.label }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="my-2" style="
        display: flex;
        flex-direction: column;
      align-items: center;
      min-height: 100%;">
            <a href="{{ path('app_categorie_edit', {'id': categorie.id}) }}" class="btn btn-success"
               style="margin-bottom: 20px">Modifier</a>
            {{ include('categorie/_delete_form.html.twig') }}
            <a href="{{ path('app_categorie_index') }}" class="btn btn-secondary" style="margin-top: 20px">Retour</a>
        </div>
    </div>
{% endblock %}
