{% extends 'base.html.twig' %}

{% block title %}Facture{% endblock %}

{% block body %}
    <h1>Facture</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ facture.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ facture.dateFacture ? facture.dateFacture|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ facture.type }}</td>
            </tr>
            <tr>
                <th>Montant</th>
                <td>{{ facture.montantTotale }}</td>
            </tr>
        </tbody>
    </table>

    <p><a class="btn btn-outline-success" href="{{ path('app_facture_index') }}">Retour</a></p>

    <p> <a class="btn btn-outline-info" href="{{ path('app_facture_edit', {'id': facture.id}) }}">modifier</a></p>
   
    {{ include('facture/_delete_form.html.twig') }}
{% endblock %}
